.main-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
}

.container-card {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 3px solid #00000044;
}

h1 {
  text-align: center;
}
