#root {
  display: flex;
  flex-direction: column;
  place-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.main-content {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  row-gap: 30px;
}

.container-card {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-bottom: 3px solid #00000044;
}
