.btn-card {
  padding: 12px 16px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #0000ff;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn-card:hover {
  background-color: rgb(0, 120, 255);
}
