.card {
  padding: 30px;
  background-color: #eeeeeeb7;
  backdrop-filter: blur(10px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  border-radius: 10px;
  width: 200px;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background-color: #d8d8d8b7;
}
